

div{
   color: green;
}

h1 {
    color: blue;
    font-size: 36px;
}
p {
    color: gray;
    font-size: 20px:
}

h1 {
    color: brown;
    font-size: 30px;
}

h2 {
    color: rgb(1, 1, 31);
    font: 200px;
}
h1 {
    color: rgb(29, 19, 19);
}

p {
    font-size: 18px;
    color: rgb(194, 183, 29);
}

p {
    color: black;
}
h1 {
    color: black;
    font: 18px;
}
 h2 {
    color: aqua;
    font: 20px;
 }
